.containers {
  display: flex;
  flex-wrap: wrap;
}

.container, .Add-a-list {
  border: 1px solid black;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 10rem;
}

.Add-a-list {
  background-color: rgb(126, 139, 255);
}

.container-title {
  border-bottom: 1px solid black;
}