.logout {
  display: flex;
  padding: 0 1rem;
  margin-top: 15px;
  .logout__button {
    border: none;
    background-color: #dfe4ea;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
  }
  
  .logout__button:hover,
  .logout__button:focus {
    background-color: #ff4757;
    cursor: pointer;
  }
}

